main{
    width: 60%;
    height: auto;
    display: grid;
    margin: 0px auto 100px auto;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 150px;
}

main img{
    width: 80%;
    max-width: 260px;
}

@media screen and (max-width: 1500px){
    main{
        position: relative;
    }

    .img1{
        position: absolute;
        left: 7vw;
        bottom: calc(5vh / 3);
        width: 60%;
    }

    .img2{
        position: absolute;
        left: 14vw;
        bottom: calc(10vh / 3);
        width: 60%;
    }

    .img3{
        position: absolute;
        left: 21vw;
        bottom: calc(15vh / 3);
        width: 60%;
    }

    .img4{
        position: absolute;
        left: 28vw;
        bottom: calc(20vh / 3);
        width: 60%;
    }

}